= nested_form_for agenda_assignment, html: { class: 'uk-form uk-form-horizontal' } do |f|
    = f.auto_input :title
    = f.auto_input :wording, field_method: :text_area, field: {rows: 5}
    .uk-form-row
        = f.label :discipline, class: "uk-form-label"
        .uk-form-controls
            - if current_user.is_teacher?
                = f.select(:teacher_school_class_discipline_id,
                current_user.as_teacher.tscd.map { |tscd| [ tscd.school_class_discipline_name, tscd.id]}, { include_blank: false }, { class: "uk-width-1-1" })
            - elsif current_user.is_admin?
                = f.select(:teacher_school_class_discipline_id,
                policy_scope(TeacherSchoolClassDiscipline).map { |tscd| [ "#{tscd.teacher.full_name} - #{tscd.school_class.name} - #{tscd.discipline.name}", tscd.id]}, { include_blank: false }, { class: "uk-width-1-1" })
    = f.auto_input :deadline, field_method: :date
    .uk-form-row
        = label_tag do
            = check_box_tag :add_duetime
            Check if you want to add a due time to this assignment
    = f.auto_input :duetime, field_method: :time, hide: true
    = render partial: 'attachments/form', object: f, as: :f
    = f.submit class: 'uk-button uk-button-success uk-align-right uk-margin-top'
