.uk-panel.uk-panel-box
    .uk-panel-title= link_to assignment.title, assignment
    .uk-panel-meta
        %i.uk-icon-mortar-board
        = assignment.teacher.full_name
        %i.uk-icon-calendar.uk-margin-left
        = l(assignment.deadline)
        - if assignment.duetime
            = assignment.duetime.localtime.to_s(:time)
    - if current_user.is_student? && current_user.as_student.teacher_school_class_disciplines.map { |tscd| tscd.agenda_assignments.include? assignment }.include?(true)
        - assignment.progress_for(current_user.as_student).tap do |progress|
            %div{class: 'uk-progress uk-progress-mini' + (progress >= 100 ? ' uk-progress-success' : '')}
                .uk-progress-bar{style: "width: #{progress}%;"}
