- data.each do |discipline|
    %h3= discipline.name
    .cl-box-list
        - discipline.school_classes.each do |cls|
            = link_to agenda_path(current_user.as_teacher.id, discipline.id, cls.id), class: 'uk-panel uk-panel-box' do
                %strong= cls.name
                %span.uk-float-right
                    %span.uk-text-muted #{cls.assignment_count} assignment(s)
                    %i.uk-icon-chevron-right.uk-margin-left
