- title! "Assignment"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Agenda", agenda_root_path
    %li= link_to "Assignment", agenda_assignment_path(@agenda_assignment)
    %li
        %span.uk-active Delete

%p
    Are you sure you want to delete this assignment?
    %br
    %em
        %i.uk-icon-warning
        This action is permanent.
    = link_to "Back to this assignment", agenda_assignment_path(@agenda_assignment), class: "uk-align-right uk-button uk-button-danger"
    = link_to "Delete this assignment", agenda_assignment_path(@agenda_assignment), method: :delete, class: "uk-align-right uk-button uk-button-success"

- sidebar! do |sidebar|
    = sidebar.link "View this assignment", agenda_assignment_path(@agenda_assignment), icon: "eye" if policy(@agenda_assignment).show?
