- title! "Edit assignment"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Agenda", agenda_root_path
    %li= link_to "Assignment", agenda_assignment_path(@agenda_assignment)
    %li
        %span.uk-active Edit

= render partial: 'form', object: @agenda_assignment, as: :agenda_assignment

- sidebar! do |sidebar|
    = sidebar.link "View this assignment", agenda_assignment_path(@agenda_assignment), icon: "eye" if policy(@agenda_assignment).show?
