= title! "Assignments"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li
        %span.uk-active Agenda

%ul.uk-tab{"data-uk-tab" => "{connect:'#tab-contents'}"}
    - is_first = true
    - @data.each_key do |role|
        - if is_first
            %li.uk-active= link_to role.capitalize, '#'
            - is_first = false
        - else
            %li= link_to role.capitalize, '#'
%ul#tab-contents.uk-switcher.uk-margin
    - @data.each_key do |role|
        %li
            = render partial: "#{role}_row", object: @data[role], as: :data

= sidebar! do |sidebar|
    = sidebar.link "Create an assignment", new_agenda_assignment_path, icon: "plus" if policy(Agenda::Assignment).create?
