= title! "Assignments"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li
        %span.uk-active Agenda

= render partial: "admin_row", object: @data, as: :data

= sidebar! do |sidebar|
    = sidebar.link "Create an assignment", new_agenda_assignment_path, icon: "plus" if policy(Agenda::Assignment).create?
