= title! "Assignments"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Agenda", agenda_root_path
    %li
        %span.uk-active Assignments

- @agenda_assignments.each do |date, assignments|
    %h3= l(date)
    .cl-box-list
        = render partial: 'row', collection: assignments, as: :assignment
- if @agenda_assignments.count == 0
    %em No assignment

= sidebar! do |sidebar|
    = sidebar.link "Create an assignment", new_agenda_assignment_path, icon: "plus" if policy(Agenda::Assignment).create?
