- title! "Create a new assignment"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Agenda", agenda_root_path
    %li
        %span.uk-active New

= render partial: 'form', object: @agenda_assignment, as: :agenda_assignment

- sidebar! do |sidebar|
    = sidebar.link "View all assignments", agenda_assignments_path, icon: "eye" if policy(Agenda::Assignment).index?
