- title! "Assignment"

%ul.uk-breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Agenda", agenda_root_path
    %li
        %span.uk-active Assignment

.uk-panel.uk-panel-box
    %h2 #{@agenda_assignment.title}
    %br
    = @agenda_assignment.wording
%p
    Due date is
    %strong= l(@agenda_assignment.deadline)
    = @agenda_assignment.duetime.localtime.to_s(:time) unless @agenda_assignment.duetime.nil?
%p
    Given
    - if !current_user.is_teacher? || current_user.as_teacher != @agenda_assignment.teacher
        by
        %strong #{@agenda_assignment.teacher.full_name}
    for the
    %strong #{@agenda_assignment.discipline.name}
    discipline
    - if !current_user.is_student? || current_user.as_student.school_class != @agenda_assignment.school_class
        of class
        %strong #{@agenda_assignment.school_class.name}

- if current_user.is_student? && current_user.as_student.teacher_school_class_disciplines.map { |tscd| tscd.agenda_assignments.include? @agenda_assignment }.include?(true)
    %h4 Progression: #{@agenda_assignment.progress_for(current_user.as_student)}%
    #progress-slider
    %br
    = form_for @agenda_assignment do |f|
        = f.auto_input :progress, field_method: :number, hide: true, field: { min: 0, max: 100, value: @agenda_assignment.progress_for(current_user.as_student) }
        = f.submit "Submit progression", id: "progress-submission", class: "uk-button uk-button-default uk-align-right", disabled: true

= render partial: 'attachments/index', locals: { attachments: @agenda_assignment.attachments }

- sidebar! do |sidebar|
    = sidebar.link "View all assignments", agenda_assignments_path, icon: "eye" if policy(Agenda::Assignment).index?
    = sidebar.link "Create a new assignment", new_agenda_assignment_path, icon: "plus" if policy(Agenda::Assignment).create?
    = sidebar.link "Edit this assignment", edit_agenda_assignment_path(@agenda_assignment), icon: "edit" if policy(@agenda_assignment).edit?
    = sidebar.link "Delete this assignment", destroy_confirmation_agenda_assignment_path(@agenda_assignment), icon: "trash-o" if policy(@agenda_assignment).destroy?
